.App {
  /* text-align: center; */
}
.background {
  background-color: black !important
  /* background: url(https://wallpaper.wiki/wp-content/uploads/2017/05/wallpaper.wiki-Mtg-Wallpapers-HD-PIC-WPE002487.jpg) center center no-repeat; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {
    text-align: center !important;
    width: 100%
}

.colorless-cost {
    font-weight: bold;
    font-size: 10px;
    border-radius: 10px;
    background: lightgray;
    margin: 2px;
    font-family: monospace;
    padding: 3px 3px;
    text-align: center;
}

.color-cost {
    margin: 2px;
}

.card-cost {
    margin-left: 10px;
    float: right;
}

.qtyButtons {
    margin-right: 6px;
}
